<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compstible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Se hacer referencia al directorio virtual y a la hoja de estilo -->
	    <link href=/assets/style.css type=text/css rel=stylesheet />
        <title>Display Data</title>
    </head>
    <body>
        <h1>Agregar estudiantes</h1><!-- Titulo-->
        <!-- Formulario que cifra los datos antes de enviarlos-->
        <form action="/addStudent" method="POST">
            <label for="nss">NSS:</label>
            <input type="text" id="nss" name="nss"><br><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="edad">Edad:</label>
            <input type="text" id="edad" name="edad"><br><br>
            <label for="tipoSangre">Tipo de Sangre:</label>
            <input type="text" id="tipoSangre" name="tipoSangre"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
