<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compstible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Se hacer referencia al directorio virtual y a la hoja de estilo -->
	    <link href=/assets/style.css type=text/css rel=stylesheet />
        <title>Display Data</title>
    </head>
    <body>
        <!-- Muestra los valores obtenidos decifrados enviados del formulario -->
        <h2>Nombre: <%= nombre %></h2>
        <h2>NSS: <%= nss %></h2>
        <h2>Edad: <%= edad %></h2>
        <h2>Tipo de Sangre: <%= tipoSangre %></h2>
    </body>
</html>

